@charset 'utf-8';
@import url('common.css');
/* index.css */
/* header */
header .header-top{
    display:flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}
header .header-top ul{
    width:20%;
    display:flex;
    justify-content:space-around;
    font-size: 0.625rem;
    margin-right: 10%;
}
header .header-mid{
    width:100%; height:15vh;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    display:flex;
    justify-content:center;
    align-items: center;
}

/* nav menu */
.menu{
    vertical-align:middle;
    display:flex;
    justify-content: space-around;
    align-items:center;
    height:7vh;
    font-size: 1.25rem;
    border-bottom:1px solid #aaa;
}
.menu .menu-level-1 li a img{
    width:50%; 
    /* height:70%; */
}
.menu .menu-level-1{
    width:50%;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
.menu .menu-level-1 li{position: relative;}
.menu .menu-level-2{
    position:absolute;
    bottom:0%;
    font-size:1rem;
    transform:translateY(100%);
    padding-top:1rem;
    background-color: #fff;
    display:none;
    z-index: 9;
}
.menu .menu-level-2 li{
    padding:0.5rem; margin:0.5rem;
    width:7rem;
    border-bottom:1px solid #000;
    position:relative ;
}
.menu .menu-level-3{
    position: absolute;
    left:100%;
    top:-20%;
    width: 600px;
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    border:1px solid #000;
    padding:2rem;
    font-size:0.7rem;
    background-color: #fff;

    display:none;
}
.menu .menu-level-3 li{width:25%;}
.menu .menu-level-3 li:last-of-type{margin-right:auto}
.menu .menu-level-1 > li:hover > ul{
    display:block;
}
.menu .menu-level-1 > li:hover > ul > li:hover > ul{
    display:flex;
}
.menu span{width:20rem;}
.menu span a img{
    vertical-align:middle;
    width:5%;
}
/* after > */
.menu-level-1 > li:nth-of-type(2) > .menu-level-2 > li:nth-of-type(-n+2) > a::after,
.menu-level-1 > li:nth-of-type(3) > .menu-level-2 > li:nth-of-type(-n+2) > a::after{
    content:'>';
    /* margin-left:2rem; */
    position:absolute;
    right:0;
}
/* main */
/* auto-silde */
main .auto-slide{
    width:200vh; height: 100vh;
    overflow:hidden;
    /* border:1px solid #00f; */
    position: relative;
}
main .auto-slide figure{
    margin:0; width:100%;
    display:flex;
    justify-content:flex-start;
    /* animation: auto-1 20s infinite; */
}
main .auto-slide figure img{width:100%; flex-shrink:0;}
/* @keyframes auto-1 {
    0%,10%{transform:translateX(0%);}
    28%,38%{transform:translateX(-100%);}
    61%,71%{transform:translateX(-200%);}
    99%{transform:translateX(-300%);}
}  */
main .auto-slide .button{
    position:absolute;
    top:50%;
    margin:0 7rem;
    width:85%;
    display:flex;
    justify-content: space-between;
}
main .auto-slide .button a .btn-left, .btn-right{
    border:1px solid #000;
    display: inline-block;
    width:4rem; height:4rem;
    text-align: center;
    font-size:3rem;
}
/* main .auto-slide .button a .btn-left{}
main .auto-slide .button a .btn-right{} */
/* best-items */
.best-items{margin-top:7rem;}
.best-items h2{
    display:inline;
    margin-left:15%;
    /* padding-bottom:10%; */
}
.best-items small{display:inline;}
.best-items .best-items-img{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.best-items .best-items-img figure{
    width:25%; height:100%;
    position:relative;
}
.best-items .best-items-img figure img{
    width:100%; min-height:20rem;
}
.best-items .best-items-img figure figcaption{
    width:100%;
    height: 100%;
    position: absolute;
    top:0%;
    background-color:rgba(0,0,0,0.7);
    color:#fff;
    text-align:center;
    z-index:8;
    display:flex;
    align-items:center;
    justify-content: center;
    display:none;
}
.best-items .best-items-img figure:hover figcaption{
    display:flex;
}
.best-items .best-items-img .btn-1{
    position:absolute;top:30%;
    width:90%;
    display:flex;
    justify-content: space-between;
    pointer-events: none;
}
.best-items .best-items-img .btn-1 a{
    pointer-events:fill; 
    font-size:7rem;
}
/* 
.best-items .best-items-img .btn-1 a:nth-of-type(1){}
.best-items .best-items-img .btn-1 a:nth-of-type(2){}
 */
/* new-items */
main .new-items{
    text-align:center;
    position:relative;
}
main .new-items h2{
    width:30vh; height:10vh;
    margin:0 auto;
    margin-top:10vh;
    background:#fff;
    z-index:15;
    position: relative;
}
main .new-items .line{
    width:70%;
    border-bottom: 1px dashed #000;
    position:absolute; top:10%; left:15%;
    z-index:0;
}
main .new-items .new-items-image{
    display:flex;
    justify-content:center;
    border: 1px solid #000;
}
main .new-items .new-items-image figure{
    width:15%;
    position:relative;
}
main .new-items .new-items-image figure img{width:100%;}
main .new-items .new-items-image figure figcaption{
    width:100%;
    height: 100%;
    position: absolute;
    top:0%;
    background-color:rgba(0,0,0,0.7);
    color:#fff;
    text-align:center;
    z-index:8;
    display:flex;
    align-items:center;
    justify-content: center;
    display:none;
}
main .new-items .new-items-image figure:hover figcaption{
    display:flex;
}
main .new-items .new-items-image .btn-2{
    position:absolute; top:30%;
    width:90%;
    display:flex;
    justify-content: space-between;
    pointer-events: none;
}
main .new-items .new-items-image .btn-2 a{
    pointer-events:fill; 
    font-size:7rem;
}
/* season-items */
main .season-items{
    display:flex;
    justify-content:center;
    border: 1px solid #000;
}
main .season-items figure{width:25%;}
main .season-items figure img{width:100%;}
main .season-items figure figcaption{}

main .season-items article{width:65%;}
main .season-items article h2{}
main .season-items article h2 small{}
main .season-items article .slide-1{
    position: relative;
}
main .season-items article .slide-1 div{
    display:flex;
    justify-content:space-around;
}
main .season-items article .slide-1 div figure{
    width:20%;
    position: relative;
}
main .season-items article .slide-1 div figure img{width:100%;}
main .season-items article .slide-1 div figure figcaption{
    width:100%;
    height: 100%;
    position: absolute;
    top:0%;
    background-color:rgba(0,0,0,0.7);
    color:#fff;
    text-align:center;
    z-index:8;
    display:flex;
    align-items:center;
    justify-content: center;
    display:none;
}
main .season-items article .slide-1 div figure:hover figcaption{
    display:flex;
}
main .season-items article .slide-1 .btn-3{
    position:absolute; top:10%;
    width:100%;
    display:flex;
    justify-content: space-between;
    pointer-events: none;
}
main .season-items article .slide-1 .btn-3 a{
    pointer-events:fill; 
    font-size:7rem;
}

/* mds-pick */
main .mds-pick{
    display:flex;
    border: 1px solid #000;
}
main .mds-pick figure{width:70%;}
main .mds-pick figure img{width:100%;}
main .mds-pick figure figcaption{}

main .mds-pick article{}
main .mds-pick article h2{}
main .mds-pick article h2 small{}
main .mds-pick article .slide-2{}
main .mds-pick article .slide-2 div{display:flex;}
main .mds-pick article .slide-2 div figure{width:25%;}
main .mds-pick article .slide-2 div figure img{width:100%;}
main .mds-pick article .slide-2 div figure figcaption{}